.login {
    max-width: 320px;
    width: 100%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
}

.logo .logo-img {
    width: 100%;
    object-fit: contain;
}

.login-form {
    background: var(--secondary-color);
    padding: 20px 50px 50px 50px;
    width: inherit;
    border-radius: 20px;
}

.login-title {
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
    color: var(--base-color);
    margin-bottom: 2.5rem;
}

.login-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
}

.login-email,
.login-password {
    margin-bottom: 1.4rem;
    width: 100%;
} 

.login-password {
    margin-bottom: 2rem;
}

.login-email label,
.login-password label {
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.login-email input,
.login-password input {
    padding: 7px;
    border-radius: 5px;
    border: transparent;
    width: 100%;
}

input:focus {
    outline: none;
    border: 1px solid rgba(51, 51, 51, 0.418);
}

.login-confirm {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    font-size: .9rem;
}

.add-admin-remember {
    display: flex;
    gap: 5px;
}

.forgot-password a {
    color: var(--base-color);
    text-decoration: none;
}


.btn-login {
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    color: var(--secondary-color);
    transition: all 0.4s ease-in-out;
    opacity: 1;
    cursor: pointer;
    font-size: 1rem;
    background: #fff;
}


.btn-login:hover {
    opacity: 0.85;

}

.add-admin-btn {
    text-decoration: none;
    margin-top: 1rem;
}

.add-admin-text,
.add-admin-login {
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    color: var(--secondary-color);
    transition: all 0.4s ease-in-out;
    opacity: 1;
    cursor: pointer;
    background: var(--dash-color);
    font-size: 1rem;
    font-weight: normal;
}
